<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test</title>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/orange-hands-ask.png}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/test.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous"></script>
	<script th:src="@{/js/jquery-3.5.1.js}"></script>
	<!--===============================================================================================-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/orange-hands-ask.png}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<link rel="stylesheet" th:href="@{/css/cards.css}">
	<link rel="stylesheet" th:href="@{/css/form.css}">
	<!--===============================================================================================-->
	<script th:src="@{/js/jquery-3.5.1.js}"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
	<style type="text/css">
	/*Checkboxes styles*/
	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"]+label {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 20px;
		font: 14px/20px 'Open Sans', Arial, sans-serif;
		color: #ddd;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	input[type="checkbox"]+label:last-child {
		margin-bottom: 0;
	}

	input[type="checkbox"]+label:before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		border: 1px solid #6cc0e5;
		position: absolute;
		left: 0;
		top: 0;
		opacity: .6;
		-webkit-transition: all .12s, border-color .08s;
		transition: all .12s, border-color .08s;
	}

	input[type="checkbox"]:checked+label:before {
		width: 10px;
		top: -5px;
		left: 5px;
		border-radius: 0;
		opacity: 1;
		border-top-color: transparent;
		border-left-color: transparent;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.scroll {
		max-height: 50px;
		overflow-y: auto;
	}
	</style>
</head>

<body>
	<div id="loader-wrapper">
		<div class="triple-spinner"></div>
	</div>
	<div class="wrapper wave">
		<form id="result-form" th:action="@{/finish-test}" th:object="${wrapper}" th:method="post">
			<div class="container ">
				<div class="row">
					<div class="col-lg-9 col-md-12">
						<div id="page-content" class="page-content">
							<section th:each="question,i : ${wrapper.questionsList}" th:id="'section' + ${i.index + 1}"> <input type="hidden" th:field="*{questionsList[__${i.index}__]}" />
								<h3 class="mb-4 title" style="color: black;" th:if="${i.index == 0}" th:text="${test.name}"></h3>
								<div class="card mb-3">
									<div class="card-body" style="color: black;">
										<h5 class="card-title" style="color: black;"> (<span th:text="${question.points}"></span> points) Question <span th:text="${i.index + 1}"></span>
										</h5>
										<p class="card-text" th:text="${question.text}"></p>
									</div>
								</div>
								<div class="card card--a card--l card-text" style="color: black;">
									<div class="quiz">
										<div class="question">
											<ul class="has-answer">
												<div th:id="'question' + ${question.questionId}" class="question-number">
													<th:block th:each="answer,j : ${question.answers}">
														<input type="checkbox" th:name="|questionsList[__${i.index}__].answers[__${j.index}__].selected|" value="on" />
														<input type="checkbox" th:id="'box-' + ${i.index + 1} + ${j.index + 1}" th:name="|questionsList[__${i.index}__].answers[__${j.index}__].selected|" />
														<label th:text="${answer.text}" th:for="'box-' + ${i.index + 1} + ${j.index + 1}" class="scroll">answer text</label>
													</th:block>
												</div>
											</ul>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="col-lg-3 col-md-12">
						<div class="row jstify-center-row">
							<div class="col-lg-12">
								<div class="timer">
									<div class="pagination-container">
										<h3 class="active">
											<div class="counter" id="clockdiv">
												<div class="sq">
													<span class="hours bord">00</span> <span class="smalltext">Hours</span>
												</div>
												<div class="sq">
													<span class="minutes bord">00</span> <span class="smalltext">Mins</span>
												</div>
												<div class="sq">
													<span class="seconds bord">00</span> <span class="smalltext">Secs</span>
												</div>
											</div>
										</h3>
									</div>
									<button class="finish-btn  mt-2 mb-4">Finish</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<!-- jQuery UI -->
<script th:src="@{/js/jquery/jquery-ui.min.js}"></script>
<script th:src="@{/js/jquery/jquery.ui.touch-punch.min.js}"></script>
<!-- jQuery Scrollbar -->
<script th:src="@{/js/jquery/jquery.scrollbar.min.js}"></script>
<script th:inline="javascript">
$(window).on('load', function() {
	setTimeout(removeLoader, 3000); //wait for page load PLUS three seconds.
});

function removeLoader() {
	$("#loader-wrapper").fadeOut(100, function() {
		// fadeOut complete. Remove the loading div
		$("#loader-wrapper").remove();
		//show the page after removing the loader
		$(document).ready(function() {
			function getTimeRemaining(timeLeft) {
				if(timeLeft < 0) {
					return false;
				}
				var hoursLeft = Math.floor(timeLeft / 3600);
				var minutesLeft = Math.floor((timeLeft - hoursLeft * 3600) / 60);
				var secondsLeft = Math.floor(timeLeft - hoursLeft * 3600 - minutesLeft * 60);
				return {
					'total': timeLeft,
					'hours': hoursLeft,
					'minutes': minutesLeft,
					'seconds': secondsLeft
				};
			}

			function initializeClock(id, timeLeft) {
				var clock = document.getElementById(id);
				var hoursSpan = clock.querySelector('.hours');
				var minutesSpan = clock.querySelector('.minutes');
				var secondsSpan = clock.querySelector('.seconds');

				function updateClock() {
					timeLeft--;
					var t = getTimeRemaining(timeLeft);
					if(t) {
						hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
						minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
						secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
					} else {
						clearInterval(timeinterval);
						$('#result-form').submit();
					}
				}
				updateClock();
				var timeinterval = setInterval(updateClock, 1000);
			}
			var time = /*[[${test.time}]]*/ 
			timeLeft = time * 60;
			initializeClock('clockdiv', timeLeft);
		});
	});
}
window.history.forward();
var i = 0;

function pause() {
	document.body.classList.add('paused');

	function increase() {
		i++;
		if(i > 1) {
			$("#result-form").trigger("reset");
			$('#result-form').submit();
		} else {
			iziToast.warning({
			title: 'Warning',
			message: 'If you clicked anywhere outside of the Test Content page again, the test will be submitted automatically!',
			position: 'topCenter',
			timeout: 200000,
		});
			
		}
	}
	increase();
}

function play() {
	document.body.classList.remove('paused');
}
window.addEventListener('blur', pause);
window.addEventListener('focus', play);
if(window.history.replaceState) {
	window.history.replaceState(null, null, window.location.origin + '/tests');
}
</script>